*{
    margin: 0;
    font-family: sans-serif;
}


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  padding: 25px;
}

.Starthead h1 {
  font-size: 32px;
  color: #192252;
  font-weight: 600;
}

.Centrhead {
  display: flex;
  gap: 35px;
}

.Centrhead p {
  font-size: 16px;
  font-weight: 500;
  color: #192252;
}

.endhead button {
  font-size: 16px;
  color: white;
  background-color: #0e1734;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 6px;
}


.sec2 {
  width: 85%;
  margin: auto;
  margin-top: 100px;
}
.sec2left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec2left h1 {
  font-size: 48px;
  font-weight: 600;
  color: #192252;
  width: 75%;
}

.sec2left p {
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
  width: 65%;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sec2left button {
  font-size: 16px;
  background-color: #0e1734;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 156px;
}

.all {
  display: flex;
}

.sec2right img {
  width: 180px;
  height: 588px;
}

.all2 {
  display: flex;
  gap: 20px;
}

.im2 {
  margin-top: 90px;
}




.sec3 {
  width: 85%;

  margin: auto;
  display: flex;
}

.sec3right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.sec3right h1 {
  font-size: 36px;
  color: #192252;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 50px;
}

.sec3right p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
  line-height: 30px;
}

.sec3right button {
  font-size: 16px;
  background-color: #0e1734;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 151px;
  margin-top: 40px;
}




.sec4 {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: flex;
}

.sec4left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec4left h1 {
  font-size: 36px;
  color: #192252;
  font-weight: 600;
}

.sec4left p {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
}

.sec4right {
  margin-left: 150px;
}




.sec5 {
  display: flex;
  width: 85%;

  margin: auto;
  margin-top: 35px;
}

.sec5right {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.sec5right h1 {
  font-size: 36px;
  color: #192252;
  font-weight: 600;
}

.sec5right p {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
  line-height: 25px;
}




.sec6 {
  width: 85%;
  margin: auto;
  margin-top: 150px;
}

.h1 {
  text-align: center;
  font-size: 36px;
  color: #192252;
  font-weight: 600;
}

.p1 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
  width: 43%;
  text-align: center;
  margin-left: 360px;
  line-height: 25px;
}

.sec6 button {
  font-size: 16px;
  background-color: #0e1734;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  margin-left: 570px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 67px;
  margin-top: 70px;
}

.card1 {
  width: 384px;
}

.card1 h3 {
  font-size: 24px;
  margin-top: 20px;
  font-weight: 600;
}

.card1 p {
  font-size: 18px;
  font-weight: 400;
  color: #848fac;
  width: 95%;
  line-height: 25px;
  margin-top: 15px;
}

.card1 img {
  margin-top: 25px;
}
